@model IEnumerable<BlenderReference.Domain.Models.WalkthroughModel>


@foreach (var item in Model)
{
    <br />
    <h2>
        @Html.ActionLink(item.WalkthroughName, "Index", "WalkthroughDetail", new { id = item.Id }, null)
    </h2>
    <br />

}

