@using BlenderReference.Domain.Enums
@model IEnumerable<BlenderReference.Domain.Models.BlenderQuickReferenceItem>

@{
    ViewData["Title"] = "Hot Key Reference";
}

<!--Description = "Zoom",
                ModeType = Enums.ModeTypeEnum.BothEditAndObjectModes,
                CanGrabScaleRotate = false,
                CanRestrictToXYZAxis = false,
                HasScrollWheelFeature = true,
                CanEnterNumericValue = false,
                Area = Enums.AreaTypeEnum.ViewPort
    -->

<h3>Object Mode Hotkey Reference</h3>
@await Html.PartialAsync("_HotKeysTable", Model.Where(x => x.ModeType == ModeTypeEnum.ObjectMode))

<h3>Edit Mode Hotkey Reference</h3>
@await Html.PartialAsync("_HotKeysTable", Model.Where(x => x.ModeType == ModeTypeEnum.EditMode))

<h3>Edit Mode Hotkey Reference</h3>
@await Html.PartialAsync("_HotKeysTable", Model.Where(x => x.ModeType == ModeTypeEnum.BothEditAndObjectModes))